<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Colocathon : équipes</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + " /bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + " /bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">

</head>

<body>
    <div class="container">
        <ul>
            <% for(var i=0; i < teams.length; i++) { %>
                <li>
                    <p>
                        <%= teams[i].nom.S %>
                    </p>
                    <img src="<%= teams[i].img.S + '.png' %>" alt="<%= teams[i].img.S %>">
                </li>
                <% } %>
        </ul>


    </div> <!-- /container -->

    <script src="<%= static_path + " /jquery/jquery-1.11.3.min.js" %>"></script>
    <script src="<%= static_path + " /bootstrap/js/bootstrap.min.js" %>"></script>
</body>

</html>